#profile-pic {
  height: 300px;
  width: 230px;
}

.tech-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tech {
  color: var(--green-text);
  padding-left: 0px;
  margin: 0px 10px 10px 0px;
  font-style: italic;
}

/* Keep above stuff until after bootstraping*/

/* .about-me {
  margin: 100px 50px 0px 0px;
 }

#about-me-title {
  color: var(--green-text);
  font-size: 50px;
  margin: 0px;
}

.about-me-text {
  font-size: 18px;
  width: 40%;
  color: var(--grey-text);
  position: fixed;
  left: 46%;
  top: 20%;
  height: 100vh;
}

.about-me-tech-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tech {
  color: var(--green-text);
  padding-left: 0px;
  margin: 0px 10px 10px 0px;
  font-style: italic;
}

#profile-pic:hover {
  border: 2px solid; 
} */