.about-me {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about-me-text {
  width: 50%;
  margin-left: 25px;
  margin-right: 40px;
}

h2 {
  color: var(--blue-text);
}

p {
  color: var(--grey-text);
}

ul {
  margin-left: 0px;
}

.tech-list {
  margin-left: 0px;
}

.about-me-image-icons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  width: 50%;
}

img {
  height: 250px;
  width: 190px
}