.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 50px 50px 0px;
}

h2 {
  font-size: 45px;
}

#email-btn {
  font-size: 18px;
  margin-top: 18px;
}

p {
  color: var(--blue-text);
  font-size: 18px;
}