.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 50px 50px 0px;
}

h2 {
  font-size: 45px;
}

#email-btn {
  font-size: 18px;
  background-color: var(--dark-blue-background);
  color: var(--blue-text);
  border: 1px solid var(--green-text);
  border-radius: 10%;
  padding: 10px;
}

p {
  color: var(--blue-text);
  font-size: 18px;
}