.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--blue-text);
  height: 115px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.icon {
  padding: 10px;
  font-size: 25px;
}

.icon:hover
 {
  color: var(--green-text);
}

.icon:visited {
  color: var(--blue-text);
}