:root {
  --dark-blue-background: #081426;
  --green-text: #60ffd9;;
  --dark-navy: #0e1b33;
  --blue-text: #b0cdf1;
  --grey-text: #a9a297;
  --pink-text: #fb36cb;
}

.App {
  background-color: var(--dark-blue-background);
  color: var(--green-text);
  height: 100vh;
}

