:root {
  --dark-blue-background: rgba(7,20,39,255);
  --green-text: rgba(75,200,176,255);
  --blue-text: #b0cdf1;
  --grey-text: #a9a297;
}

.App {
  background-color: rgba(7,20,39,255);
  color: rgba(75,200,176,255);
  height: 100vh;
}

